.todo_container{
    background: #0f0f0fef;
    width: 70vw;
    margin: 5em auto;
    border-radius: 15px;
    padding: 15px;
    color: white;
    box-shadow: initial;
}
.Header{
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    font-family: monospace;
}
.input-container{
    background: black;
    padding: 0.5rem;
    border-radius: 1em;
    border: 2px solid orange;
}
.input{
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    background-color: rgb(249, 164, 6);
    border: 1px;
    border-radius: 1em;
    padding: .5em;
    margin: .5em;
    width: 80%;
}
.add-btn{
    border-radius: 5px;
    font-size: 2em;
    margin: 5px;
    padding: 0px 15px;
    border: none;
    color: green;
    background-color: white;
    font-weight: 900;
}
.add-btn:hover{
    background-color: green;
    color: rgb(255, 255, 255);
}
.list-task{
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    color: orange;
    background-color: black;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
}
.delete-btn{
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    color: red;
    float: right;
    background-color: black;
}
.delete-btn:hover{
    background-color: rgb(255, 255, 255);
}
